/* Basic style */
* {
  box-sizing: border-box;
}

body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}

h1, h2, p, a {
  color: var(--primary);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 2em;
  display: inline-block;
}

li a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

li a:hover,
li a:focus {
  color: var(--primary);
  border-color: var(--primary);
}

/* Jump animation link (Design) */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Scale animation (Frontend) */
.scale {
  animation-name: scaleUp;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* wiggly wobbly oeehhhhhh (&) */
.translateLR{
  animation-name: translateLR;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes translateLR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2rem);
  }
  70% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  } 
}

/* Shakedown animatie voor Development */
.shakedown {
  animation-name: shakedown;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes shakedown {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-10deg) scale(1.05);
  }
  40% {
    transform: rotate(10deg) scale(1.05);
  }
  60% {
    transform: rotate(-6deg) scale(1.1);
  }
  80% {
    transform: rotate(6deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
