/* Basic style */
* {
  box-sizing: border-box;
}

body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}

h1,
h2,
p,
a {
  color: var(--primary);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 2em;
  display: inline-block;
}

li a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

li a:hover,
li a:focus {
  color: var(--primary);
  border-color: var(--primary);
}


  /* Jump animation (Design) */

a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


   /* Scale animation (Frontend) */


.scale {
  animation-name: scaleUp;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

/* Wiggly wobbly oehhhhh (&) */

.translateLR {
  animation-name: translateLR;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes translateLR {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(2rem);
  }

  70% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}


    /* 4 Shakedown animation (Development) */


.shakedown {
  animation-name: shakedown;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes shakedown {
  0% {
    transform: rotate(0deg) scale(1);
  }

  20% {
    transform: rotate(-10deg) scale(1.05);
  }

  50% {
    transform: rotate(10deg) scale(1.05);
  }

  60% {
    transform: rotate(-7deg) scale(1.1);
  }

  80% {
    transform: rotate(6deg) scale(1.05);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

   /* Sprint 5 Color Animation */


.kleurSprint5 {
  animation-name: kleurSprint5Animatie;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes kleurSprint5Animatie {
  0% {
    background-color: var(--secondary);
    color: var(--highlight-primary);
  }

  25% {
    background-color: var(--highlight-primary);
    
  }

  50% {
    background-color: var(--highlight-secondary);
    
  }

  75% {
    background-color: var(--primary);
   
  }

  100% {
    background-color: var(--secondary);
  
  }
}


   /* 6 Bar-le-Duc Hover */


.barLeDucHover {
  transition: color 0.3s ease;
}


   /* 7 THE Hover Flip Animation */


.flipHover:hover {
  animation-name: flipAnimatie;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes flipAnimatie {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}


   /* 8 FLOW Flip mousedown + mouseup */


.flip {
  animation-name: flowFlip;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.flipTerug {
  animation-name: flowFlipTerug;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes flowFlip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flowFlipTerug {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

/* 9 USER keyup kleuren */

.user-a {
  color: var(--highlight-primary);
}

.user-b {
  color: var(--highlight-secondary);
}

.user-c {
  color:red;
}

#interface {
    transition: transform 10s ease-out;
}

/* 10 Interface ballon animatie */

.ballonOp {
  animation-name: ballonOp;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ballonLeeg {
  animation-name: ballonLeeg;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ballonOp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes ballonLeeg {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

